$font-main: 'Nunito', sans-serif;
$font-weight: 400;
$font-size-main: 16px;
$text-color: #000000DE;
$highlighted-color: #FFF;
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$form-text-color: #7E7E7E;
$error-color: #CB3D40;