@import './styles/variables.scss';
@import './styles/mixins.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  padding: 0;
  margin: 0;
  background-color: $background-color;
}

h1 {
  font-family: $font-main;
  font-size: 40px;
  line-height: 40px;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
}

p {
  font-family: $font-main;
  font-size: $font-size-main;
  line-height: 26px;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
}
